@import '../../assets/variables.scss';

.album-card {
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: flex-start;

  @media (max-width: $breakpoint-md) {
    max-width: 600px;
  }
}

.album-info {
  display: flex;
}
