@import '../../assets/variables.scss';

$loaderWrapperSize: 120px;
$loaderSize: 100px;

.loader-rings {
  display: inline-block;
  width: $loaderWrapperSize;
  height: $loaderWrapperSize;

  &:after {
    content: ' ';
    display: block;
    width: $loaderSize;
    height: $loaderSize;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: loader-rings 1.2s linear infinite;
  }

  @keyframes loader-rings {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
