//* breakpoints based off Tailwind breakpoints
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;

//* colors
$muzik-white: white;
$muzik-pink: #ed6ea0;
$muzik-orange: #ec8c69;

@mixin search-input {
  .search-input {
    width: 300px;
  }
}
