@import '../../assets/variables.scss';

#page-wrapper {
  gap: 0;
  padding-bottom: 50px;
  background-image: linear-gradient(
    90deg,
    $muzik-pink 10%,
    $muzik-orange 90%
  ); // * idea from https://omatsuri.app/gradient-generator

  .page-header {
    height: 205px;
    background-color: $muzik-white;

    @media (max-width: $breakpoint-md) {
      height: 100px;
    }
  }

  .page-content {
    // all of the view height
    // minus the height of the page header
    // minus the height of the PageWave
    // minus the height of the PageWrapper bottom padding
    min-height: calc(100vh - 205px - 132px - 50px);
  }
}
