@import '../../assets/variables.scss';

$album-image-height: 200px;

.album-details-card {
  width: 100%;
  max-width: 500px;
  border: none;
  border-radius: 8px;

  @media (max-width: $breakpoint-md) {
    max-width: 90%;
  }

  .album-info {
    display: flex;

    .album-image {
      img {
        height: $album-image-height;
      }
    }

    .album-text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 80%;
    }
  }
}
